<div class="search-bar">
  <div class="search-input">
    <input class="input" placeholder="City" #cityInput> <br>
    <button class="search-button" (click)="getNewWeather(cityInput.value)">Check weather</button>
  </div>
</div>

<div class="weather-window">
  <div class="img-place-temp">
    <div class="basic-info-temp">
      <div class="temp">
        {{weatherData.currentConditions.temp}}&deg;C
      </div>
    </div>
  </div>
  <div class="weather-info">
    <div class="info-first-bar">
      Humidity {{weatherData.currentConditions.humidity}}%
    </div>
    <div class="info-first-bar">
      Wind {{weatherData.currentConditions.windspeed}} km/h
    </div>
    <div class="info-first-bar">
      Pressure {{weatherData.currentConditions.pressure}} Pa
    </div>

    <div class="info-second-bar">
      feels like {{weatherData.currentConditions.feelslike}} &deg;C
    </div>
    <div class="info-second-bar">
      temp max {{weatherData.days[0].tempmax}} &deg;C
    </div>
    <div class="info-second-bar">
      temp min {{weatherData.days[0].tempmin}} &deg;C
    </div>
  </div>
</div>
