body{
  background-color: rgba(134, 8, 187, 1);
  background-image: linear-gradient(96deg, rgba(134, 8, 187, 1) 0%, rgba(41, 53, 86, 1) 100%);
}

.centered{
  margin-left: 35%;
  margin-top: 10%;
}


